USE [master]
GO
/****** Object:  Database [szin2]    Script Date: 4/25/2021 4:32:41 PM ******/
CREATE DATABASE [szin2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'szin2', FILENAME = N'D:\SQL-DATA\MSSQL15.DEV2019\MSSQL\Data\szin2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'szin2_log', FILENAME = N'D:\SQL-DATA\MSSQL15.DEV2019\MSSQL\Data\szin2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Hungarian_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [szin2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [szin2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/25/2021 4:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) COLLATE Hungarian_CI_AS NOT NULL,
	[ProductVersion] [nvarchar](32) COLLATE Hungarian_CI_AS NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 4/25/2021 4:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[ColorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) COLLATE Hungarian_CI_AS NULL,
	[Comments] [nvarchar](max) COLLATE Hungarian_CI_AS NULL,
 CONSTRAINT [PK_Colors] PRIMARY KEY CLUSTERED 
(
	[ColorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSchemaColorAssocs]    Script Date: 4/25/2021 4:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSchemaColorAssocs](
	[ProductSchemaColorAssocId] [int] IDENTITY(1,1) NOT NULL,
	[ProductSchemaId] [int] NOT NULL,
	[ColorId] [int] NOT NULL,
 CONSTRAINT [PK_ProductSchemaColorAssocs] PRIMARY KEY CLUSTERED 
(
	[ProductSchemaColorAssocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSchemas]    Script Date: 4/25/2021 4:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSchemas](
	[ProductSchemaId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) COLLATE Hungarian_CI_AS NULL,
	[Revision] [nvarchar](max) COLLATE Hungarian_CI_AS NULL,
	[SapproductCode] [int] NULL,
	[ApprovalDate] [datetime2](7) NULL,
	[DrawingNr] [nvarchar](max) COLLATE Hungarian_CI_AS NULL,
	[SerialNr] [nvarchar](max) COLLATE Hungarian_CI_AS NULL,
	[Comments] [nvarchar](max) COLLATE Hungarian_CI_AS NULL,
 CONSTRAINT [PK_ProductSchemas] PRIMARY KEY CLUSTERED 
(
	[ProductSchemaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductSchemaColorAssocs_ColorId]    Script Date: 4/25/2021 4:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductSchemaColorAssocs_ColorId] ON [dbo].[ProductSchemaColorAssocs]
(
	[ColorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductSchemaColorAssocs_ProductSchemaId]    Script Date: 4/25/2021 4:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductSchemaColorAssocs_ProductSchemaId] ON [dbo].[ProductSchemaColorAssocs]
(
	[ProductSchemaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductSchemaColorAssocs]  WITH CHECK ADD  CONSTRAINT [FK_ProductSchemaColorAssocs_Colors_ColorId] FOREIGN KEY([ColorId])
REFERENCES [dbo].[Colors] ([ColorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSchemaColorAssocs] CHECK CONSTRAINT [FK_ProductSchemaColorAssocs_Colors_ColorId]
GO
ALTER TABLE [dbo].[ProductSchemaColorAssocs]  WITH CHECK ADD  CONSTRAINT [FK_ProductSchemaColorAssocs_ProductSchemas_ProductSchemaId] FOREIGN KEY([ProductSchemaId])
REFERENCES [dbo].[ProductSchemas] ([ProductSchemaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSchemaColorAssocs] CHECK CONSTRAINT [FK_ProductSchemaColorAssocs_ProductSchemas_ProductSchemaId]
GO
USE [master]
GO
